@model List<Employee>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div id="div1"></div>
<a asp-action="New" asp-controller="Employee" class="btn btn-success">New</a>

<table class="table table-bordered table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td><a href="/Employee/Edit/@item.Id">Edit</a></td>
            @* <td><a href="/Employee/EmpCardPartial/@item.Id">Show DEtails</a></td> *@
            <td>
                <a href="#" onclick="GetEmpDetails(@item.Id)">Show DEtails</a>
            </td> 
        </tr>
    }
</table>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    function GetEmpDetails(id) {
        event.preventDefault();
        
        $.ajax({
            url: "/Employee/EmpCardPartial/"+id,
            success: function (result) {
                console.log(result);
             //document.getElementById("div1").innerHTML=result
                $("#div1").html(result);
            }
        });
    }
</script>